@use '../helpers' as *;

.about{
    background: var(--bgImg) center/cover no-repeat;
    color: var(--color-light);
    z-index: 55;

    &__inner{
        display: flex;
        flex-direction: column;
        row-gap: rem(16);
    }

    &__body{
        font-family: var(--font-family-accent);
        font-weight: 600;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: rem(32);
        max-width: rem(730);
        width: 100%;
        margin: 0 auto;
    }

    &__info{
        p + p{
            margin-top: rem(10);
        }
    }

    .block-title{
        &__tag{
            color: var(--color-bg);
        }
    }
}