@use '../helpers' as *;

.feedback-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: rem(16);

    &__item{
        &--wide{
            grid-column: -1 / 1;
        }
    }

    &__submit-button{
        width: 100%;
        height: rem(56);
        justify-content: center;
        align-items: center;
    }
}